<h2 class="title">iBeacons</h2>
<hr>
<p>
iBeacon is the trademark for an indoor proximity system that [Apple](https://developer.apple.com/ibeacon/ "iBeacon for Developers - Apple Developer")Inc. calls "a new class of low-powered, low-cost transmitters that can notify nearby iOS 7 devices of their presence." The technology enables a smart phone or other device to perform actions when in close proximity to an iBeacon. [Wikipedia](http://en.wikipedia.org/wiki/IBeacon "iBeacon - Wikipedia, the free encyclopedia")
</p>