<h2 class="title">The Internet of Things</h2>
<hr>
<p>
The Internet of Things (IoT, also Cloud of Things or CoT) refers to the interconnection of uniquely identifiable embedded computing-like devices within the existing Internet infrastructure. Typically, IoT is expected to offer advanced connectivity of devices, systems, and services that goes beyond machine-to-machine communications (M2M) and covers a variety of protocols, domains, and applications. <a href="http://en.wikipedia.org/wiki/Internet_of_Things">Wikipedia</a> 
</p>