<div class="hero" style="background-image: url('/images/lighthouse2.png');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Lighthouse and surrounding area, Castlepoint, ca 1927, by <a href="https://flic.kr/p/5EcLBs" target="_blank">Robert Percy Moore</a> 
    </p>
  </div>
</div>
